Missions/Week01/Countries_by_GDP.json
Missions/Week01/Countries_by_GDP.json
Missions/Week01/GDP_USD_billion.csv
Missions/Week01/World_Economics.db
Missions/Week01/gdb.db

Missions/Week02/sentiment_tweets.csv
Missions/Week02/sentiment_tweets_small.csv

Missions/Week03/M1/hadoop-3.4.0-aarch64.tar
Missions/Week03/M1/hadoop-3.4.0.tar.gz
Missions/Week03/M2a/hadoop-3.4.0.tar.gz

Missions/Week03/M2a/Harry_Potter_1.txt

Missions/Week04/M2/data/fhvhv_tripdata_2023-12.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-01.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-02.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-03.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-04.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-05.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-06.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-07.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-08.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-09.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-10.parquet
Missions/Week04/M2/data/fhvhv_tripdata_2024-11.parquet
