Missions/Week01/Countries_by_GDP.json
Missions/Week01/Countries_by_GDP.json
Missions/Week01/GDP_USD_billion.csv
Missions/Week01/World_Economics.db
Missions/Week01/gdb.db

Missions/Week02/sentiment_tweets.csv
Missions/Week02/sentiment_tweets_small.csv

Missions/Week03/M1/hadoop-3.4.0-aarch64.tar
Missions/Week03/M1/hadoop-3.4.0.tar.gz
Missions/Week03/M2a/hadoop-3.4.0.tar.gz

Missions/Week03/M2a/Harry_Potter_1.txt

Missions/Week04/M2/data
Missions/Week04/M2/output

Missions/Week04/M2/new_sf

Missions/Week05/input
Missions/Week05/output