Missions/Week01/Countries_by_GDP.json
Missions/Week01/Countries_by_GDP.json
Missions/Week01/GDP_USD_billion.csv
Missions/Week01/World_Economics.db
Missions/Week01/gdb.db

Missions/Week02/sentiment_tweets.csv
Missions/Week02/sentiment_tweets_small.csv